.pos{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
}
#musicbtn{
    width: 50px;
    height: 50px;
    background: url("../imgs/music.png") no-repeat center;
    background-size: 30px 30px;
    border: white 4px solid;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    top:10px;
    z-index:100;
}
.musiccon{
    position: absolute;
    color: white;
    left: -70px;
    top:10px;
    font-size: 30px;
    display: none;
    font-weight: bold;
    display: none;
}
.page{
    display: none;
}

.action{

   /* -webkit-transition:-webkit-transform 2s;
    -webkit-transform:translate(0px,0px);*/
    -webkit-transition:-webkit-transform 0.2s;
    -webkit-transition-timing-function:ease-in;
}
.active{
    z-index: 50;
    display: block;
    /*-webkit-transition:-webkit-transform 2s;
    -webkit-transform: scale(0.8,0.8);*/
}
.move{
    z-index: 60;
    -webkit-transform:translate(0px,0px);
    display: block;
}
.hide{
    display: none;
}
.show{
    display: block;
    opacity:1;
}
@-webkit-keyframes myfirst
{
    from {opacity:1;}
    to {opacity:0;}
}
.animate{
    display:block;
    -webkit-animation: myfirst 2s;
}

